aiofiles==0.5.0
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
boto3==1.13.2
botocore==1.16.2
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==0.6.1
colorama==0.4.3
coloredlogs==10.0
ConfigArgParse==0.13.0
constantly==15.1.0
contextvars==2.4
cycler==0.10.0
docutils==0.15.2
Flask==1.1.2
Flask-Cors==3.0.8
future==0.17.1
geographiclib==1.50
geopy==1.22.0
gevent==1.5.0
greenlet==0.4.15
h11==0.8.1
h2==3.2.0
hpack==3.0.0
hstspreload==2020.5.5
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.2
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.9
immutables==0.12
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
jsonschema==2.6.0
kiwisolver==1.2.0
klein==17.10.0
MarkupSafe==1.1.1
matplotlib==2.2.5
multidict==4.7.5
numpy==1.22.0
packaging==18.0
pycparser==2.20
PyHamcrest==2.0.2
pyparsing==2.4.7
pyreadline==2.1
python-dateutil==2.8.1
pytz==2020.1
rasa-core-sdk==0.14.0
rasa-nlu==0.15.1
rasa-sdk==1.10.0
requests==2.23.0
rfc3986==1.4.0
ruamel.yaml==0.15.100
s3transfer==0.3.3
sanic==19.12.2
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.2
scikit-learn==0.20.4
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
sniffio==1.1.0
soupsieve==2.0.1
tqdm==4.46.0
Twisted==20.3.0
typing==3.7.4.1
urllib3==1.25.9
websockets==8.1
Werkzeug==1.0.1
zope.interface==5.1.0
